.footer {
    padding: 40px 60px;
    background-color: #000;
    height: 590px;
    width: 100%;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
}

.footer-logo svg {
    margin-bottom: 30px;
    height: 32px;
    width: 118px;
    margin-left: 150px;
    margin-top: 50px;
    fill: #fff;
}

.footer-columns {
    /* border: 2px solid white; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 150px;
    margin-left: 350px;
    margin-top: -60px;  
}
.footer-columns h4{
    padding-bottom: 8px;
}
.footer-columns ul>li{
    padding-bottom: 10px;
}
.column {
    min-width: 150px;
}

.column h4 {
    color: #919496;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
    letter-spacing: .08em;
    text-transform: uppercase;
}

.column ul {
    list-style: none;
    padding: 0;
}

.column ul li {
    margin-bottom: 10px;
}

.column ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: SpotifyMixUI, CircularSp, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.column ul li:hover {
    text-decoration: none;
    color: #1DB954;
}

#icons {
  display: flex;
  gap: 20px;
  margin-left: 10px;

}

#icons a {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #222326;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-decoration: none;
}

#icons a i {
  color: white;
  font-size: 22px;
  font-weight: 100;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* border-top: 1px solid #333; */
    color: #919496 !important;;
    padding-bottom: 16px !important;
    margin-top: 40px;
    font-size: 12px;
}

#sec{
    /* border: 2px solid white; */
    margin-top: -33px;
    position: absolute;
    margin-left: 1160px;
}

.footer-links{
    margin-left: 150px;
    
}
.footer-links a {
    color: #aaa;
    text-decoration: none;
    margin-right: 20px;
    padding-top: 100px;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-meta span {
    /* position: absolute; */
    margin-right: 150px;
}