@import url("../css/section.css");
@import url("../css/footer.css");
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/* nav */
body{
    font-family: Helvetica, Arial, sans-serif;
}
#nav{
    /* border: 2px solid red; */
    width: 100%;
    height: 72px;
    background-color: #000;
    z-index: 999;
}
#div1 ol li:hover{
    text-decoration: none;
    color: #1DB954;
    cursor:pointer;
}
#sub-nav{
    display: flex;
    align-items: center;
    gap: 100px;
}
#div{
    /* border: 2px solid black; */
    width: 150px;
    height: 70px;
    display: flex;
    margin-left: 170px;
}
#div>img{
    width: 100vh;
}
#div1{
    /* border: 2px solid blue; */
    width: 90%;
    height: 40px;
    margin-left: 250px;
}
ol{
    list-style: none;
    display: flex;
    width: 90%;
    height: 40px;
    padding-left: 50px;
    margin-left: 85px;
    gap: 40px;
}
ol li{
    justify-content: space-between;
    font-weight: 700;
    color: #fff;
    font-size: 15px;
    padding-top: 15px;
}





/* main tag */
#div2{
    /* border: 2px solid; */
    background-color: rgb(180,155,200);
    width: 100%;
    height: 75vh;
    padding-top: 72px;
}
#div2 h1{
    text-align: center;
    margin-top: 110px;
    font-size: 40px;
    font-weight: 700;
    color:#000;
}
#div2 h2{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: 400;
}
#div2 button{
    margin-top: 37px;
    margin-left: 675px;
    padding: 15px 33px;
    border-radius: 50px;
    font-weight: 700;
    font-size: inherit;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border: none;
}
#div2 button:hover{
    text-decoration: none;
    color:black;
}
#div2 p{
    padding-top: 40px;
    text-align: center;
    font-size: 0.6875rem;
    font-weight: 540;
    color: inherit;
    line-height: 15px;
}
#div2 p a{
    color: #000;
}
