#div3{
    /* border: 3px solid; */
    text-align: center;
    padding-top: 100px;
    height: 78vh;
}
#div3 h2{
    font-size: 40px;
}
#div4{
    /* border: 3px solid; */
    display: flex;
    width: 80%;
    margin-left: 150px;
    justify-content: center;
    gap: 50px;
    margin-top: 70px;
}
#div4 img{
    height: 142px;
    width: 142px;
}
#div4 ul{
    list-style: none;
}
#div4 ul h3{
    margin-bottom: 10px;
    font-size: 21px;
    padding-top: 30px;
    font-family:  SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, var(--fallback-fonts, sans-serif);;
}
#div4 ul p{
    font-size: 16px;
    padding-top: 8px;
}


#div5 {
  /* border: 2px solid; */
  padding: 60px 0 100px;
  background-color: #f9f9f9;
  text-align: center;
  height: 85vh;
}

#div5 h2 {
  font-size: 40px;
  font-weight: 700;
}

#div5 h3 {
  font-size: 24px;
  font-weight: 400;
  margin-top: 10px;
}

#div6 {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  max-width: 100%;
}

#small {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 75%;
  background-color: #fff;
  border-radius: 10px;
}

#small li {
  border-bottom: 1px solid #ddd;
}

details {
  padding: 0;
  transition: background-color 0.3s ease;
}
details:hover {
  background-color: #f9f9f9;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  list-style: none;
  padding: 25px 40px;
}

summary span:hover {
  text-decoration: underline;
}

summary::-webkit-details-marker {
  display: none;
}

summary svg {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

details[open] summary svg {
  transform: rotate(180deg);
}

details p {
  margin: 15px 24px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  padding-top: 15px;
}

details p a{
  color: black;
}